@model IEnumerable<VolykMidtermA.Models.Team>

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ranking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstMatch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Country)
            </td>
            <td>
                @Html.DisplayFor(model => item.Group)
            </td>
            <td>
                @Html.DisplayFor(model => item.Ranking)
            </td>
            <td>
                @Html.DisplayFor(model => item.FirstMatch)
            </td>
            <td>
                 @* Deleted everything *@
            </td>
        </tr>
}
    </tbody>
</table>
